@font-face {
    font-family: 'Albert_Sans';
    src: url('/src/fonts/AlbertSans-Regular.ttf') format('truetype');
}
.footer-container
{

    background-color: #FCD956;
    padding: 15rem 2rem;
    border-radius: 60px;
    text-decoration: none;
}

.footer-logo img
{
    width: 72px;
    height: 72px;
}
.footer-email h1
{
    font-size: 1.5rem;
    color: #000;
    font-family: 'Albert_Sans', sans-serif;
}
.footer-email input
{
    width: 20%;
    padding: 1rem 1rem;
    border-color: #000;
    border-radius: 60px;
    margin-top: 1rem;
    font-family: 'Albert_Sans', sans-serif;
    margin-right: 1rem;
}
.footer-email button
{
    background-color: #000;
    color: #fff;
    padding: 1rem 1rem;
    border-radius: 60px;
    margin-top: 1rem;
    font-family: 'Albert_Sans', sans-serif;
}
.footer-about
{
    display:flex;
    align-items: center;
}
.footer-merge
{
flex: 1; /* Each div takes equal space */
margin: 10px; /* Adds space between the divs */
padding: 20px;
background-color: lightblue;
text-align: center;
}
.footer-pages
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-connect
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}