@font-face {
    font-family: 'Albert_Sans';
    src: url('/src/fonts/AlbertSans-Regular.ttf') format('truetype');
}

.footer-container {
    background-color: #FCD956;
    padding: 1rem 2rem;
    border-radius: 60px;
    text-decoration: none;
}

.footer-logo img {
    width: 72px;
    height: 72px;
}

.footer-email h1 {
    font-size: 1.5rem;
    color: #000;
    font-family: 'Albert_Sans', sans-serif;
}

.footer-email input {
    width: 100%;
    padding: 1rem 1rem;
    border-color: #000;
    border-radius: 60px;
    margin-top: 1rem;
    font-family: 'Albert_Sans', sans-serif;
    margin-right: 1rem;
}

.footer-email button {
    background-color: #000;
    color: #fff;
    padding: 1rem 1rem;
    border-radius: 60px;
    margin-top: 1rem;
    font-family: 'Albert_Sans', sans-serif;
}

.footer-about {
    display: flex;
    align-items: center;
}

.footer-merge {
    display: flex;
    justify-content: space-evenly; 
    gap: 3rem; 
    margin-bottom: 6px;

}

.footer-pages {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    margin-bottom: 6px;
    padding: 0;
    margin: 0;
}
.footer-pages a
{
    color: #000;
    text-decoration: none;
    font-family: 'Albert_Sans', sans-serif;
    font-size: 1rem;
}
.footer-connect a
{
    color: #000;
    text-decoration: none;
    font-family: 'Albert_Sans', sans-serif;
    font-size: 1rem;

}
.footer-connect {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 6px;
    list-style: none;

}
/* From Uiverse.io by vinodjangid07 */ 
.input-wrapper {
    width: fit-content;
    height: 45px;
    border-radius: 20px;
    padding: 5px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    background-color: #292524;
  }
  
  .icon {
    width: 30px;
    fill: rgb(255, 255, 255);
    margin-left: 8px;
    transition: all 0.3s;
  }
  .input {
    max-width: 170px;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 15px;
    background-color: #292524;
    color: white;
    font-size: 1em;
    font-family: "Albert_Sans";
  }
  .input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #292524 inset;
    -webkit-text-fill-color: #ffffff;
  }
  .Subscribe-btn {
    height: 100%;
    width: 95px;
    border: none;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: #FCD956;
    font-weight: 500;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s;
    font-family:"Albert_Sans";
  }
  .arrow {
    /* display: none; */
    position: absolute;
    margin-right: 150px;
    transition: all 0.3s;
  }
  .input-wrapper:active .icon {
    transform: scale(1.3);
  }
  .Subscribe-btn:hover {
    color: white;
  }
  .Subscribe-btn:hover .arrow {
    margin-right: 0;
    animation: jello-vertical 0.9s both;
    transform-origin: right;
  }
  
  @keyframes jello-vertical {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  .Subscribe-btn:active {
    transform: scale(0.9);
  }
  