@font-face {
    font-family: 'BBBPoppinsTB';
    src: url('/src/fonts/BBBPoppinsTB.ttf') format('truetype');
}


.hero
{
    width: 100%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    position: relative;
}
.hero img
{ 
    width: 98%;   
    border-radius: 60px;
    justify-content: center;
    filter: brightness(70%); /* Darkens the image */ 
}
.hero .text 
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center text */
    width: 80%; 
    text-align: center;
    padding: 1rem;
    border-radius: 20px;
    z-index: 1;
}

.hero .text h1 {
    font-size: 4rem;
    color: #fff;
    font-family: 'BBBPoppinsTB', sans-serif;
}
.hero-button {
    position: absolute;
    top: 55%;
    left: 50%;
    background-color: #ffffffe6;
    padding: 2rem 2rem;
    border-radius: 60px;
    text-decoration: none;
    transform: translate(-50%, -50%); /* Center text */
    z-index: 1;

}
.hero-button a {
    color: #FCD956;
    text-decoration: none;
    font-family: 'SF Pro', sans-serif;
    font-size: 1.5rem;
}
