.about h1 {
    text-align: start;
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about p {
    top: 160%;
    left: 50%;
    right: 0%;
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-decoration: none;
}

.about-border {
    background-color: #57a0cd72;
    margin-left: 2rem;
    height: 650px;
    width: 600px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about-image img {
    width: 512px;
    height: 512px;
    margin-top: 5rem;
    margin-left: 2rem;
    border-radius: 500px;

}